<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lst.comadep.Dao.MessageDao">
    <resultMap id="messageResultMap" type="com.lst.comadep.Entity.Vo.MessageVo">
        <result column="id" property="messageId"/>
        <result column="sender" jdbcType="VARCHAR" property="sender"/>
        <result column="message_content" jdbcType="VARCHAR" property="messageContent"/>
        <result column="recipient" jdbcType="VARCHAR" property="recipient"/>
        <result column="send_time" jdbcType="DATE" property="sendTime"/>
    </resultMap>
    <resultMap id="messageListBoResultMap" type="com.lst.comadep.Entity.Bo.MessageListBo">
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <resultMap id="sessionRecordPoResultMap" type="com.lst.comadep.Entity.Po.SessionRecordPo">
        <result column="id" property="id"/>
        <result column="sender" jdbcType="VARCHAR" property="sender"/>
        <result column="sender_id" jdbcType="INTEGER" property="senderId"/>
        <result column="recipient" jdbcType="VARCHAR" property="recipient"/>
        <result column="recipient_id" jdbcType="INTEGER" property="recipientId"/>
        <result column="last_message" jdbcType="VARCHAR" property="lastMessage"/>
    </resultMap>
    <resultMap id="messagePoResultMap" type="com.lst.comadep.Entity.Po.MessagePo">
        <result column="id" property="id"/>
        <result column="sender" jdbcType="VARCHAR" property="sender"/>
        <result column="sender_id" jdbcType="INTEGER" property="senderId"/>
        <result column="recipient" jdbcType="VARCHAR" property="recipient"/>
        <result column="recipient_id" jdbcType="INTEGER" property="recipientId"/>
        <result column="message_content" jdbcType="VARCHAR" property="messageContent"/>
        <result column="send_time" jdbcType="DATE" property="sendTime"/>
        <result column="is_read" jdbcType="INTEGER" property="isRead"/>
    </resultMap>
    <insert id="sendNotice" parameterType="com.lst.comadep.Entity.Vo.NoticeVo">
        insert into com_notice (notice_name,notice_region,notice_to_top,notice_type,notice_content,notice_date,notice_category)
        values
        (#{noticeVo.noticeName},#{noticeVo.noticeRegion},
         <if test="noticeVo.noticeToTop==true">
             1,
         </if>
        <if test="noticeVo.noticeToTop==false">
            0,
        </if>
         #{noticeVo.noticeType},#{noticeVo.noticeContent},#{noticeVo.noticeDate},#{noticeVo.noticeCategory})
    </insert>

    <insert id="sendMessage" parameterType="com.lst.comadep.Entity.Vo.MessageVo"
            useGeneratedKeys="true" keyProperty="messageId">
        insert into com_message (sender,message_content,recipient,send_time)
        values
        (#{messageVo.sender},#{messageVo.messageContent},
        #{messageVo.recipient},#{messageVo.sendTime})
    </insert>
    <select id="getMessageListByUserId" resultMap="sessionRecordPoResultMap">
        SELECT * FROM com_session_record
        WHERE
            sender_id = #{userId}
           or
            recipient_id = #{userId}
    </select>
    <select id="getMessageById" resultMap="messagePoResultMap">
        select * from
        com_message
        where
        sender_id = #{senderId}
        and
        recipient_id =#{recipientId}
        UNION
        select * from
        com_message
        where
        sender_id = #{recipientId}
        and
        recipient_id =#{senderId}
        ORDER BY send_time ASC
    </select>
</mapper>