<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lst.comadep.Dao.UserDao">

    <resultMap id="BaseResultMap" type="com.lst.comadep.Entity.User" >
        <id column="id" property="id" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="address"  property="address" jdbcType="VARCHAR"/>
        <result column="telephone_number" property="telephoneNumber" jdbcType="INTEGER"/>
        <result column="power_code" property="powerCode" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="building_number" property="buildingNumber" jdbcType="INTEGER"/>
        <result column="floor" property="floor" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="OriginalUserResultMap" type="com.lst.comadep.Entity.OriginalUser" >
        <id column="id" property="id" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="address"  property="address" jdbcType="VARCHAR"/>
        <result column="telephone_number" property="telephoneNumber" jdbcType="INTEGER"/>
        <result column="power_code" property="powerCode" jdbcType="INTEGER"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="building_number" property="buildingNumber" jdbcType="INTEGER"/>
        <result column="floor" property="floor" jdbcType="VARCHAR"/>
        <result column="is_activation" property="isActivation" jdbcType="INTEGER"/>
    </resultMap>
    <select id="check"  parameterType="map"  resultMap="BaseResultMap">
        select
        password,user_name,id,sex,age,address,telephone_number,power_code,create_time
        from comadep.user
        where telephone_number=#{telephoneNumber}
    </select>
    <select id="PropertyUserCheck" parameterType="map" resultMap="OriginalUserResultMap">
        select   id,user_name,address,telephone_number,power_code,sex,age,create_time,telephone_number,building_number,floor,is_activation
        from  comadep.com_original_user
        where telephone_number=#{telephoneNumber}
    </select>
    <insert id="register" parameterType="map" >
        insert into comadep.user(id,user_name,password,address,telephone_number,power_code,sex,age,create_time,gmt_modified,building_number
        ,floor)
        values (#{id},#{userName},#{password},#{address},#{telephoneNumber},#{powerCode},#{sex},#{age},#{createTime},#{gmtModified},#{buildingNumber},#{floor})
    </insert>
    <update id="updateRegisterIsActivationById" parameterType="map">
        update comadep.com_original_user set is_activation=2 where id=#{id}
    </update>
    <select id="selectUserById" resultMap="BaseResultMap">
        select user_name,address,telephone_number,power_code,sex,age,create_time from comadep.user where id=#{id}
    </select>

    <select id="selectUserByIdInOriginal" resultMap="BaseResultMap">
        select id,user_name,address,password,telephone_number,power_code,sex,age,create_time,building_number,floor from comadep.com_original_user where id=#{id}
    </select>
    <insert id="importUser" parameterType="map">
        insert into comadep.com_original_user(user_name,password,address,telephone_number,sex,age,create_time,gmt_modified,building_number
                                ,floor)
        values (#{userName},#{password},#{address},#{telephoneNumber},#{sex},#{age},#{createTime},#{gmtModified},#{buildingNumber},#{floor})

    </insert>
    <select id="getUserByParameter" resultMap="BaseResultMap">
        select id,user_name,concat(building_number,'号楼' , floor,'室') as address,
               telephone_number,sex,age,create_time from  comadep.user <if test="buildingNumber !=0"> where  building_number = #{buildingNumber} </if>
        <if test="floorNumber!=0"> and floor like '${floorNumber}%'</if> limit #{currPage} , #{pageSize}
    </select>
    <select id="getUserTotalByParameter" resultType="int">
        select  count(*)  from   comadep.user  <if test="buildingNumber !=0"> where building_number = #{buildingNumber} </if>
        <if test="floorNumber!=0"> and floor like '${floorNumber}%'</if>
    </select>
    <select id="searchUser" resultMap="BaseResultMap">
        select  id,user_name,concat(building_number,'号楼' , floor,'室') as address,
                telephone_number,sex,age,create_time from  comadep.user where user_name like '%${searchParameter}%' or telephone_number like '${searchParameter}%'
                limit  #{currPage} , #{pageSize};
    </select>
    <select id="searchUseTotal" resultType="int">
        select  count(*)  from   comadep.user  where user_name like '%${searchParameter}%' or telephone_number like '{searchParameter}%'
    </select>
    <delete id="deleteUserById">
        delete from comadep.user where id=#{userId}
    </delete>
    <update id="modifyUserById" parameterType="com.lst.comadep.Entity.User">
        update comadep.user  set user_name=#{user.userName},address=#{user.address},
                                 telephone_number=#{user.telephoneNumber},sex=#{user.sex},age=#{user.age},power_code=#{user.powerCode}  where id=#{user.id}
    </update>
</mapper>